<!DOCTYPE html>
<html>
    <head>
        <title>*** Register here for more updates ***</title>
    </head>
    <body>
        <form method="post" action="submit_form">     
            Name : <input type="text" required name="Name"><br>
            mail-id : <input type="email" required name="mail-id"><br>
            Password : <input type="password" required name="Password"><br>
            Birthdate : <input type="date" name="Birthdate"><br>
            Gender : <br>Male <input type="radio" name="Gender"><br>
                    Female <input type="radio" name="Gender"><br>
                    Others <input type="radio" name="Gender"><br>
            Degree : <select name="Degree">
                        <option>BE</option>
                        <option>BTech</option>
                    </select><br>
            Course : PG <input type="checkbox" name="PG">
                     UG <input type="checkbox"name="UG"><br>
            <input type="submit" value="Register">>
            <input type="reset">
        </form>
    </body>
</html>
